@import url('https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800&display=swap');

* {
    font-family: 'Tajawal', sans-serif !important;
}

body {
    width: 50%;
    margin: 0 auto;
}

nav {
    padding: 2rem 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#words {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-auto-flow: row;
    grid-gap: .5rem;
}

.word {
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    padding: 1rem;
    background-color: cornsilk;
    border-radius: 1rem;
    text-align: center;
}

.word.selected {
    border: 2px solid teal;
}